.component-wrapper{
    padding: 2em;
    max-width: 100%;
    overflow-x: auto;
    background-color: white;
    margin: 25px;
    box-shadow: 2px 2px 2px 2px #cccccc;
    width: fit-content;
    text-align: initial;
    flex-grow:1;
}
.componenets-wrapper-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.primaryButton{
    background-color: #1a73e8;
    border: 1px solid #14319c1c;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}
.secondaryButton{
    background-color: #f8f9fa;
    border: 1px solid #14319c1c;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}