.table {
    width: 100%;
}
.table-wrapper{
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
    background-color: white;
    margin: 25px;
    box-shadow: 2px 2px 2px 2px #cccccc;
    flex-grow:1;
}
.chart-container{
    width: fit-content;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #cccccc;
    max-width: 100%;
    margin: 25px;
    padding: 10px;
}
table {
    width: 100%; /* Set table width to 100% */
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}
td {
    text-align: left;
    padding: 8px;
    border: none; /* Remove all borders */
}
tfoot {
    color: gray;
}

tfoot th {
    font-weight: bold;
    background-color: #f5f5f5;
}
tbody tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.selection-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.selection{
    padding: 10px;
}
.selection select{
    border-radius: 5px;
    border: 1px solid lightgray;
}
.table-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-search{
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.table-header-cell{
    cursor: pointer;
}
