.topbar{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 54px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.topbarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
}
.clickedTopBarItem{
    font-weight: bold;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
    background-color: #f2f2f2;
}
.topbarItem:hover {
    background-color: #f2f2f2;
}
.logoImage{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}